:host {
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  height: 100vh;

  .app-sidenav {
    width: 320px;
    > div:first-child {
      max-height: 100%;
    }

    .mat-toolbar {
      position: sticky;
      top: 0;
      z-index: 1;

      #settings {
        position: absolute;
        right: 0;
      }

    }

  }
}

.app-content {
  overflow: auto;
}
